<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포스트 작성</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% include 'navigation.html' %}
    <main>
        <h2>포스트 작성</h2>
        <form action="{% url 'edit_post' post.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">제목:</label>
                <input type="text" id="title" name="title" value="{{ post.title }}" required>
            </div>
            <div class="form-group">
                <label for="content">내용:</label>
                <textarea id="content" name="content" rows="10" required>{{ post.content }}</textarea>
            </div>
            <button type="submit">작성</button>
        </form>
    </main>
    {% include 'footer.html' %}
</body>
</html>
