<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그 페이지</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {% include 'navigation.html' %}
    <main>
        {% for post in posts %}
        <article>
            <a href="{% url 'read_post' post.id %}"></a>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content | truncatechars:160 }}</p>
        </article>
        {% endfor %}
    </main>
</body>
    {% include 'footer.html' %}
</html>
