<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포스트 상세</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    {% include 'navigation.html' %}
    <main>
        <article class="post-detail">
            <h2>{{ post.title }}</h2>
            <p>{{ post.created_at }}</p>
            <p>{{ post.content | linebreaks }}</p>
        </article>
    </main>
    {% include 'footer.html' %}
</body>
</html>
